.header-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    margin: 7px 0px 7px 0px;
}

.header-input-left {
    padding: 6px 10px;
    width: 250px;
    border-radius: 6px;
    border: 1px solid lightgray;
}

.header-input-right {
    margin-left: auto;
    padding: 6px 10px;
    width: 250px;
    border-radius: 6px;
    border: 1px solid lightgray;
}